.Rproj.user
.Rhistory
.RData
.Ruserdata
fastp.json
R/.DS_Store                                                                                                                                                                                                                              [19:41:04]
src/.DS_Store
inst/.DS_Store
Rfastp.Rproj
